<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="height: 150px ;width:1000px;border:1px dashed #ff1a27">
    <div style="height: 90% ;width:20%;margin:0.5% 0.5% ;border:1px dashed #3344ff ;Float:left">1000
    </div>
    <div style="height: 95% ;width:60%;margin:0.5% 0.5% ;border:1px dashed #0bff46;Float:left">
        <ul style="list-style:none">
            <li>sss</li>
            <li>sss</li>
            <li>sss</li>
            <li>sss</li>
        </ul>
    </div>
</div>
</body>
</html>